#about-me-container {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: whitesmoke;
    justify-content: space-around;
    align-content: center;
}

#about-me-container h1 {
    margin-top: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* text-shadow: 2px 0 0 black; */
}

#picture {
    display: flex;
    width: 25vw;
    height: 70%;
    background: url('../assets/selfie.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border: black 2px solid;
    margin-left: 8%;
}

#self-intro {
    position: relative;
    max-width: 50vw;
    height: auto;
    align-self: flex-end;
    background-color: #FBFBFB;
    color: black;
    align-self: center;
    margin-right: 5%;
}

#about-me-text {
    margin-top: 3%;
    padding: 0 3% 0 3%;
}

#self-intro p {
    display: flex;
    font-size: 18px;
}