#projects-container {
  /* background-color: darkslategray; */
  width: 100%;
  height: auto;
  min-height: 50vh;
  position: relative;
  display: flex;
  background-color: white;
}

#project-announcer {
  text-align: center;
  width: 100%;
  height: 6.7vh;
  justify-self: center;
  color: black;
  margin: 3.5% 0 2% 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 2px 0 0 black;
  letter-spacing: .2px;
}

#gallery-wrapper {
  width: 60vw;
  height: 100%;
  margin: 0 20% 5% 20%;
}

#resume-intro {
  width: 70vw;
  margin: auto;
  margin-bottom: 10vh;
  height: auto;
  border: solid 1px black;
}

.carousel-caption h3 {
  text-shadow: 1px 1px 4px black;
}

.github-link {
  background-color: white;
  border-radius: 50%;
  border-color: black;
  transition: transform .15s;
}

.github-link:hover {
    transform: translateY(-2px);
}

.carousel-caption h3 a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}


/* https://justin-nt.github.io/NYT-API-Practice/ */
